body{
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 2000px;
}

::-webkit-scrollbar {
    display: none;
}

#nav{
    z-index: 10;
    position: fixed;
    display: flex;
    width: 100%;
    height: 90px;
    background-image: linear-gradient(rgb(0, 0, 0),rgba(255, 255, 255, 0));
}

.navbutton{
    border-radius: 20px;
    border: none;
    background-color: red;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    transition: 0.6s cubic-bezier(0.5 , 2, 0.5 , 1);
}

.navbutton:hover{
    background-color: brown;
}

#Links{
    padding-top: 20px;
    padding-left: 30px;
    display: inherit;
    gap: 30px;
    width: 50%;
    height: 40px;
}
#functions1{
    padding-top: 25px;
    padding-right: 20px;
    display: inherit;
    position: absolute;
    gap: 20px;
    width: 50%;
    height: 30px;
    right: 0;
    justify-content: right;
}
#functions2{
    padding-top: 25px;
    padding-right: 20px;
    display: inherit;
    position: absolute;
    gap: 20px;
    width: 50%;
    height: 30px;
    right: 0;
    justify-content: right;
    visibility: hidden;
}

#hero{
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
}

#hero h1{
    text-align: center;
    padding-top: 20px;
    position: absolute;
    top: 200px;
    width: 100%;
    height: 200px;
    font-size: 50px;
    background-image:linear-gradient(90deg,rgba(255, 255, 255, 0.068), rgb(224, 223, 223),rgba(255, 255, 255, 0.068));
}

#display{
    z-index: 1;
    left: 10%;
    position: absolute;
    overflow: hidden;
    top: 100vh;
    height: 2000px;
    width: 80%;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    
}

.displaybg{
    z-index: 0;
    position: absolute;
    top: -100vh;
    left: -10vw;
    height: 100vh;
    width: 100vw;
    filter: blur(10px) saturate(70%) grayscale(25%);
    object-fit: cover;
    
}

.herobg{
    position: absolute;
    z-index: inherit;
    height: 100vh;
    width: 100vw;
    top: 0;
    object-fit: cover;
    
}

#footer{
    z-index: 10;
    position: fixed;
    display: flex;
    bottom: 0;
    width: 100%;
    height: 90px;

    background-image: linear-gradient(rgba(255, 255, 255, 0),rgb(0, 0, 0));
}

#displaytrending{
    z-index: 3;
    padding-left: 100px;
    padding-top: 50px;
    position: relative;
    font-size: 50px;
    color: red;
    font-weight: 500;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#trendingrotate{
    margin-top: -50px;
    padding-left: 5vw;
    position: relative;
    display: flex;
    gap: 20px;
    align-items: center;
    overflow: hidden;
    width: auto;
    height: 700px;
    transition: 2s;
}
.rotatie{
    width: 250px;
    height: 500px;
    object-fit: cover;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.rotatie:hover{
    width:400px;
    height: 600px;
    transition-delay: 0.2s;
}

.rotatebutton{
    z-index: 4;
    background-color: rgba(52, 51, 58, 0.788);
    height: 50px;
    width: 50px;
    position: absolute;
    transition: 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.rotatebutton:hover{
    z-index: 4;
    height: 60px;
    width: 60px;
    background-color: rgba(0, 0, 0, 0.301);
}

#trendingright{
    margin-top: -50px;
    left: 72vw;
    top:520px;
}
#trendingleft{
    margin-top: -50px;
    left: 3vw;
    top:520px
}

.descriptionpopup{
    margin-top: -50px;
    margin-left: 5vw;
    transition: 2s;
    height: 0px;
    width: 0px;
    background-color: red;
    z-index: 3;
    overflow: hidden;
}

.descriptionpopup div{

}

.descriptionpopup div img{
    height: 200px;
    width: 100px;
    object-fit: cover;
    overflow: hidden;
}

.descriptionpopup div h2{

}

#screenblocker{
    visibility: hidden;
    z-index: 11;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.486);
}

#screenblocker div{
    visibility: inherit;
    z-index: inherit;
    position: inherit;
    width: 60vw;
    height: 50vh;
    background-color: rgb(151, 102, 102);
    margin-left: 25vw;
    margin-top:25vh;
    border-radius: 10px;
}

#screenblocker div h2{
    text-align: center;
    font-size: 50px;
    margin-top: 0px;
}

#screenblocker div button{
    height: 40px;
    width: 40px;
    border-radius: 5px;
    border: 0;
    background-color: brown;
    margin-left: 5px;
    margin-top: 5px;
}
